
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.placeholder-profile {
  color: #cccccc;
}

.personal-info{
  display: none;
}

.list-md{
  background-color: transparent !important;
}
